.card-title.purple.darken-2.white-text.price{
  padding:4px;
}

body {
  transition: background-color: 0.5s ease;
  background-color: rgb(33, 33, 33);
}

.input-field {
  margin-top: 0;
}

img {
  width: auto;
}

.condBox {
  border: 1px solid rgb(212, 212, 212);
}

.welcome {
  margin-top: 0.6rem;
}

.companyCall {
  font-weight: 400;
}

.card-content p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}
